---
title: Community
---
<div data-role="page" class="community-page">
<%= partial :middleman_info %>
<%= partial :info_header %>
<%= partial :info_tabbar %>

  <div data-iscroll="true">
     <div class="flex-container" style="width: 250px; min-height: 205px; text-align: center; margin: auto; padding-top: 10px;">
<div class="pageImageSliderAuto flexslider">
<ul class="slides">
                <li>
                    <a>
                    <img src="<%= sponsor_images_uri 'IWRA.jpg' %>" />
      </a>
                </li>
                <li>
                    <a>
      <img src="<%= images_uri 'tina-trout-codweb.jpg' %>" />
      </a>
                </li>
                <li>
                    <a>
                    <img src="<%= images_uri 'IWRAweb.jpg' %>" />
      </a>
                </li>
                <li>
                    <a>
                    <img src="<%= images_uri 'Wade.jpg' %>" />
      </a>
                </li>
                <li>
                    <a>
                    <img src="<%= images_uri 'dubbo-dragonweb.jpg' %>" />
      </a>
                </li>
                <li>
                    <a>
                    <img src="<%= images_uri 'dubbo-dragonweb3.jpg' %>" />
      </a>
                </li>
                <li>
                    <a>
                    <img src="<%= images_uri 'Fieldnatsweb.jpg' %>" />
      </a>
                </li>
                <li>
                    <a>
                    <img src="<%= images_uri 'Fieldnatsweb2.jpg' %>" />
      </a>
                </li>
           </ul>
        </div>
    </div>


    <div data-role="content">
               <p>
  <h2>Inland Waterways Rejuvenation Association</h2>
  A bronze level sponsor of this initiative<br><br>
  <strong>What we do:</strong>
  We are Dubbo community members and business people, keen to promote the recreational localities and sustainable fishing potential within our district and where possible, improve recreational services.<br><br>

  <strong>How to contact us:</strong>
  Phone Matt Hansen (President) on <a href="tel:0427454357"> 0427454357</a><br><br>

  <strong>Website link:</strong><%= external_link href='http://www.iwra.com.au'%><br><br>

  <strong>What activities we do on or around the Macquarie River:</strong><br>

  The Lake Burrendong Classic Catch and Release fishing Comp at Easter every Year.<br>
  Provide ongoing fingerling stocking and native fish release programs.<br>
  Rejuvenation of riverbank habitats and waterways.<br>
  Educational programs to promote sustainable best fishing practices with community groups and local schools.<br>
  Work in conjunction with government authorities and fishing club organisations to provide constructive results.<br>
  Promote our region and provide improvements to our local waterway and resources.<br><br>

  <strong>Why we love the river:</strong>

  It is the lifeblood of our community, that more often then not is exploited by modern day life. With Native fish levels are 70-90% lower then when the country was settled by Europeans.. where will it stop?
          </p>

          <h2>Outback Dragons Dubbo</h2>
  <p><strong>What we do:</strong>
  Paddle on the Macquarie river in Dubbo leaving from Sandy beach. Organise corporate challenge type events.<br><br>

  <strong>How to contact us:</strong>
  Via the website (see below) or Chris Robinson on<a href="tel:0424435363"> 0424435363</a><br><br>

  <strong>Website link:</strong><%='http://www.oranadragonboat.com'%><br><br>

  <strong>What activities we do on or around the Macquarie River:</strong>

  Paddling with dragon boats.<br><br>

  <strong>Why we love the river:</strong>
  It's refreshing, invigorating and interesting.

  <h2>Dubbo Field Naturalists and Conservation Society</h2>
  <p><strong>What we do:</strong>
  Foster interest, knowledge and enjoyment in natural history and conservation (since 1977) with field trips, social meetings, campouts, and other special events.  We also support Riversmart initiatives.<br><br>

  <strong>How to contact us:</strong>
  Email us at<a href="mailto:contact@dubbofieldnats.org.au"> contact@dubbofieldnats.org.au</a> or PO Box 1171, Dubbo.<br><br>

  <strong>Website link:</strong><%='http:/www.dubbofieldnats.org.au'%><br><br>

  <strong>What activities we do on or around the Macquarie River:</strong>

  Wattlegove site, planting, bird watching, surveys, birds and botany filed trips and walks.<br><br>

  <strong>Why we love the river:</strong>
  It's the lifeblood of our community and a significant riparian corridor essential habitat for all.
  </p>



    </div>

    </div>

  <%= partial :tabbar %>

    </div>
