---
title: Sponsors
---
<div data-role="page" class="sponsors-page">
  <%= partial :middleman_info %>
  <%= partial :info_header %>
  <%= partial :info_tabbar %>

     <div data-role="content" data-iscroll="true">
     <p><strong>Macquarie River Trails</strong>
     has been made possible by the support
of many organisations and businesses; too many to list them all here.
Details are available on <%= external_link 'http://www.rivertrails.com.au' %> <br>
This publication has been made possible with the financial support and
sponsorship of the following: </p>
<br>
 <div class="INTYR-sponsor-images"><img src="../images/Sponsors/INT-YR-Logo.png"/>
       </div>
       <p>Thanks to support from the NSW Government, through Destination NSW's 2011/12
Regional Product Development Program the development of the Macquarie River Trails Mobile App was possible</p>
   <div class="DNSW-sponsor-images"><img src="../images/Sponsors/DNSW-logo.png"/></div>
      <br>
  <div class="river-line-separator"></div>
  <h3 class="sponsor-images">Gold Sponsors:</h3>

           <h4 class="sponsor-images">Dubbo City Council</h4>
           <div class="sponsor-images"><img src="<%= sponsor_images_uri 'DCC.png' %>" width="114px" height="160px"></div>

           <h4 class="sponsor-images">Orana Mutual
           </h4><div class="sponsor-images"><img src="<%= sponsor_images_uri 'OranaMutual.png' %>" width="200px" height="102px"></div>

           <div class="river-line-separator"></div>
           <h3 class="sponsor-images">Silver Sponsors:</h3>

           <h4 class="sponsor-images">Brennans Mitre Ten, Dubbo</h4>
           <div class="sponsor-images"><img src="<%= sponsor_images_uri 'M10.jpg' %>" width="200px" height="120px"></div>

           <h4 class="sponsor-images">Narromine Shire Council</h4>
           <div class="sponsor-images"><img src="<%= sponsor_images_uri 'narromine_council.jpg' %>" width="170px" height="190px"></div>

           <h4 class="sponsor-images">Wellington Council</h4>
           <div class="sponsor-images"><img src="<%= sponsor_images_uri 'WellingtonCouncil.png' %>" width="200px" height="119px"></div>

           <h4 class="sponsor-images">Coonamble Shire Council</h4>
           <div class="sponsor-images"><img src="<%= sponsor_images_uri 'councillogo.png' %>" width="200px" height="71px"></div>

           <h4 class="sponsor-images">Mapping Services Australia</h4>
           <div class="sponsor-images"><img src="<%= sponsor_images_uri 'MSA.png' %>" width="200px" height="61px"></div>

           <div class="river-line-separator"></div>
           <h3 class="sponsor-images">Bronze Sponsors:</h3>

           <h4 class="sponsor-images">Flat Chat News, Narromine</h4>
           <div class="sponsor-images"><img src="<%= sponsor_images_uri 'flat_chat.jpg' %>" width="200px" height="130px"></div>

           <h4 class="sponsor-images">Inland Waterways Rejuvenation Association</h4>
           <div class="sponsor-images"><img src="<%= sponsor_images_uri 'IWRA.jpg' %>" width="200px" height="130px"></div>

           <h4 class="sponsor-images">Warren Chamber of Commerce</h4>
           <div class="river-line-separator"></div>

           <h4 class="sponsor-images">
               The not-for-profit organisation Riversmart Australia Ltd provides
               coordination and overall administration of the initiative.
               <strong>Visit <a href="http://www.riversmart.org.au">www.riversmart.org.au</a> for more information</strong></h4>
           <div class="sponsor-images"><img src="<%= sponsor_images_uri 'Bucket.png' %>" width="145px" height="100px">
           <img src="<%= sponsor_images_uri 'RiverSmart.png' %>" width="145px" height="100px"></div>

           <h4 class="sponsor-images">
              Thanks to the Central West CMA for their ongoing support for the
              Macquarie Riversmart initiative.</h4>
           <div class="sponsor-images"><img src="<%= sponsor_images_uri 'CMA.jpg' %>" width="200px" height="60px"></div>
           <div class="river-line-separator"></div>
           <br>
           <div class="sponsor-images"><img src="<%= sponsor_images_uri 'Aspect.png' %>" width="200px" height="200px"></div>
           <div class="sponsor-images"><img src="<%= sponsor_images_uri 'Bakery.png' %>" width="200px" height="200px"></div>
           <div class="sponsor-images"><img src="<%= sponsor_images_uri 'Battlers.png' %>" width="200px" height="150px"></div>
           <div class="sponsor-images"><img src="<%= sponsor_images_uri 'Bobs.png' %>" width="200px" height="150px"></div>
           <div class="sponsor-images"><img src="<%= sponsor_images_uri 'Brennan.png' %>" width="200px" height="200px"></div>
           <div class="sponsor-images"><img src="<%= sponsor_images_uri 'Burger.png' %>" width="200px" height="150px"></div>
           <div class="sponsor-images"><img src="<%= sponsor_images_uri 'Butcher.png' %>" width="200px" height="150px"></div>
           <div class="sponsor-images"><img src="<%= sponsor_images_uri 'Canobolas.png' %>" width="200px" height="250px"></div>
           <div class="sponsor-images"><img src="<%= sponsor_images_uri 'Court.png' %>" width="200px" height="250px"></div>
           <div class="sponsor-images"><img src="<%= sponsor_images_uri 'DubboWall.png' %>" width="200px" height="200px"></div>
           <div class="sponsor-images"><img src="<%= sponsor_images_uri 'Earthmoving.png' %>" width="200px" height="200px"></div>
           <div class="sponsor-images"><img src="<%= sponsor_images_uri 'Goldenwest.png' %>" width="200px" height="200px"></div>
           <div class="sponsor-images"><img src="<%= sponsor_images_uri 'KevinHockey.png' %>" width="200px" height="200px"></div>
           <div class="sponsor-images"><img src="<%= sponsor_images_uri 'LakeBurrendong.png' %>" width="200px" height="350px"></div>
           <div class="sponsor-images"><img src="<%= sponsor_images_uri 'MacVanParkWarren.png' %>" width="200px" height="350px"></div>
           <div class="sponsor-images"><img src="<%= sponsor_images_uri 'Matt.png' %>" width="200px" height="200px"></div>
           <div class="sponsor-images"><img src="<%= sponsor_images_uri 'Mitchel-Inn.png' %>" width="200px" height="150px"></div>
           <div class="sponsor-images"><img src="<%= sponsor_images_uri 'NativeLures.png' %>" width="200px" height="200px"></div>
           <div class="sponsor-images"><img src="<%= sponsor_images_uri 'TyreRight.png' %>" width="200px" height="350px"></div>
           <div class="sponsor-images"><img src="<%= sponsor_images_uri 'Uncle.png' %>" width="200px" height="200px"></div>
         </div>


           <%= partial :tabbar %>
     </div>
 <!-- /page -->
